.btn {
  border-radius: 1px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  min-width: 234px;

  &:hover {
    cursor: pointer;
    color: #673f2b;
    background-image: none;
    background-color: transparent;
    border-color: #673f2b;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
