.vertical-radios-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .vertical-radio {
    transform: rotate(-90deg);

    & + .vertical-radio {
      margin-top: 100px;
    }

    .vertical-radio-input:checked + label {
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent #ffffff;
        position: absolute;
        left: 50%;
        top: -22px;
        transform: translateX(-50%) rotate(90deg);
      }
    }
  }
}

.horizontal-radios-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .horizontal-radio {
    & + .horizontal-radio {
      margin-top: 60px;
    }

    .horizontal-radio-input:checked + label {
      &:before {
        content: "";
        background-color: white;
        width: 17px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: -53px;
        transform: translateY(-50%);
      }
    }
  }
}

form {
  .form-control {
    font-family: $font-family-serif;
    font-size: 20px;
    height: 40px;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

form.main-form {
  .form-group:first-child {
    min-height: 290px;
  }
}

input:-webkit-autofill,
input:hover:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $brand-black inset;
  -webkit-text-fill-color: white!important;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
  top: -9999px;
  text-indent: -9999px;

  & + label {
    color: white;
    cursor: pointer;
    margin: 0;
    text-transform: uppercase;
    opacity: 0.25;
    position: relative;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
    &:hover {
      opacity: 1;
    }
  }

  &:checked {
    & + label {
      color: white;
      opacity: 1;
    }
  }
}
